.places{
    text-align: left;
}

.places_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

article:nth-child(3){
    justify-self: center;
    grid-column: 1/-1;
}

.places article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2{
    font-size: 30px;
}

h2{
    text-align: center;
    margin: 0;
}